@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
/*  Imported Styles ^^ */
body{background-color: burlywood;}
*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;

}
a{
    text-decoration: none;
    color: #000;
}
.header {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 40px;
}
.header h2{
    color:burlywood;
    text-decoration: none;
    font-size: 70px;
    margin-top: 0;  
    font-family: 'DynaPuff', cursive;
    opacity: 1;
  transform: translate3d(-50px, 0, 0);
  transition: 0.85s all ease-in-out;
}
.text-centered{
    text-align: center;
}
.nav-bar{
display: flex;
flex-direction:row;
justify-content: space-between;
align-items: center;
padding: 20px;
border-bottom: 1px solid #000;
background-color: #fff;
position: -webkit-sticky;
position: sticky;
top: 0;
}
.nav-links{
    display: flex;
    flex-direction: row;
}
.nav-links li{
    list-style-type: none;
    margin-right: 40px;
}
.nav-links a:hover{
    color: burlywood;
}
.container{
    margin: 0 auto;
    width: 50%;
    margin-top: 0px;
    padding-top:30px ;
    padding-bottom:30px ;
}
.content{
    margin-top: 20px;
}
.container .content h2{
    text-align: center;
    text-shadow: 2px 2px grey;

}
.short-intro{
    display: flex;
    flex-direction: column;
}
.short-intro h1{
    font-size: 40px;
    color: #000;
    font-weight: 700;
}
.footer{
       font-style: italic;
       margin-top: 50px;
       padding: 20px;
       background-color: #000;
       color: white;
}
.footer a{
    text-decoration: none;
    color: #fff;
}
.footer a:hover{
    color: burlywood;
}
.text-gap{
    margin-top: 30px;
}
#short-intro-seperator{
    background-color: red;
    height: 3px;
}

.seperate{
    margin-top: 30px;
    background-color: #000;
    height: 3px;
    border: #000;
}
.content ul{
    list-style-type:georgian;
    padding-left: 0;
}